<a href="https://colab.research.google.com/github/aiman-alghamdi/MyProjects/blob/master/azoz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tqdm import tqdm
import numpy as np
import json

In [ ]:
df=pd.read_csv('complete_data_after_rdap.csv')

In [ ]:
cols_needed = ['subnets','country','org','registrant_name','registration_date']

In [ ]:
df.replace('None', np.nan, inplace=True)

In [ ]:
df[cols_needed]=df[cols_needed].fillna(df.index.to_series())

In [ ]:
df['subnets']=df['subnets'].fillna(df.index.to_series())
df['country']=df['country'].fillna(df.index.to_series())
df['org']=df['org'].fillna(df.index.to_series())
df['registrant_name']=df['registrant_name'].fillna(df.index.to_series())
df['registration_date']=df['registration_date'].fillna(df.index.to_series())

In [ ]:
df[cols_needed].head()

,subnets,country,org,registrant_name,registration_date
0,85.214.64.0/18,DE,AS6724 Strato AG,0,0
1,189.45.192.0/20,BR,AS28343 Unifique Telecomunicações SA,Luiz Carlos Pimmel,2010-06-23 20:45:54+00:00
2,2,2,2,2,2
3,103.145.97.0/24,ID,AS139443 Institut Teknologi Nasional Yogyakarta,3,3
4,4,4,4,4,4

In [ ]:
GL_dict = df.to_json(orient='records')

In [ ]:
jd = json.loads(GL_dict)

In [ ]:
df['initialIndex'] = df.index.values

In [ ]:
edge_list = []

for  idx1, x1 in enumerate(jd):
  for idx2, x2 in enumerate(jd[idx1:],idx1):
      if (x1['subnets'] == x2['subnets'] 
          or x1['country'] == x2['country']
          or x1['org'] == x2['org']
          or x1['registrant_name'] == x2['registrant_name'] 
          or x1['registration_date'] == x2['registration_date']) and idx1 < idx2:
          edge_list.append((idx1, idx2))

In [ ]:
len(edge_list)

2081911

In [ ]:
20000*20000

400000000

In [ ]:
5141140*4

20564560

In [ ]:
(2081911/19229242)*100

10.826797020912213

In [ ]:
len(edge_list)

19229242

In [ ]:
df.iloc[9][cols_needed]

subnets                        188.114.96.0/22
country                                     US
org                   AS13335 Cloudflare, Inc.
registrant_name                              9
registration_date    2016-08-05 12:51:05+00:00
Name: 9, dtype: object

In [ ]:
df.iloc[13699][cols_needed]

In [ ]:
pd.DataFrame(edge_list).to_csv('edges.csv')